.greet-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 3rem;
}

.emoji{
    font-size: 2.4rem;
    margin-right: 1rem;
}
.title {

    font-size: 2.4rem;
}

.contact-container {
    min-height: 100vh;
    
}

@media (max-width: 768px) {
    .contact-container {
        min-width: 96vw;
        align-self: center;
        justify-self: center;
        
    }
}